.slider-container {
    padding: 0 15px 0 0;
    width: 50em;
}

.slider-container img {
    width: 100%;
    height: auto;
}

.flex-wrapper {
    display: flex;
    justify-content: space-around;
}
.char {
    font-size: 1em;
}

.description {
    display: flex;
    justify-content: center;
}